Source: dash
Section: shells
Priority: optional
Maintainer: Gerrit Pape <pape@smarden.org>
Build-Depends: po-debconf
Standards-Version: 3.8.0.1
Homepage: http://gondor.apana.org.au/~herbert/dash/
Vcs-Git: http://smarden.org/git/dash.git/

Package: dash
Architecture: any
Pre-Depends: ${shlibs:Depends}
Depends: debianutils (>= 2.15)
Description: POSIX-compliant shell
 The Debian Almquist Shell (dash) is a lightweight POSIX-compliant shell
 derived from ash.
 .
 It can be usefully installed as /bin/sh (because it executes scripts
 faster than bash), or as the default shell for the superuser.  It
 depends on fewer libraries than bash, and is therefore less likely to
 be affected by an upgrade problem or a disk failure. It is also
 useful for checking the POSIX compliance of scripts.

Package: ash
Architecture: all
Pre-Depends: dash
Description: compatibility package for dash
 This package allows upgrading ash to its replacement,
 dash. It includes the /bin/ash symlink.
 It can be removed as soon as /bin/ash is no longer used.
